* {
    margin: 0;
}

nav {
    color: red;
}

#hero-section {
    color: blue;
}

#our_story-section {
    color: green;
}

#watch-section {
    color: darkred;
}

#expertise-section {
    min-height: 400px;
}

.expert-container {
    display:grid;
    grid-template-rows:50% 50%;
    grid-template-columns:33% 33% 33%;

}
    color: yellowgreen;
}

#contact_client-section {
    color: lightsalmon;
}

footer {
    color: blueviolet;
}