*{
    margin:0;
}

nav {
    color: red;
}

#hero-section {
    color: blue;
}

#our_story-section {
    color: green;
}

#watch-section {

    background-image: url("./media/bgk-middle.png");
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height: 550px;
}
.play-container{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.play-container p{
    color: white;
}
.play{
    margin-bottom: 30px;
}

#expertise-section {
    color: fuchsia;
}

#team-section {
    color: yellowgreen;
}

#contact_client-section {
    color: lightsalmon;
}

footer {
    color: blueviolet;
}